:root {
  --primary-font: "Work Sans", sans-serif;
  --primary-color: #ff900e;
  --secondary-color: #0effd723;
  --tertiary-color: #3963eed0;
  --dark1-color: #131313;
  --dark2-color: #424242;
  --dark3-color: #727272;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

.container {
  width: 1240px;
  max-width: 100%;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* primary-section */
.primary-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 20px 25px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
  box-shadow: 1px 1px 10px var(--primary-color);
}

.primary-btn:hover {
  border: 1px solid var(--tertiary-color);
  background: var(--tertiary-color);
  color: var(--dark1-color);
  transform: scale(1.1);
  box-shadow: 1px 10px 20px var(--tertiary-color);
}

/* ..............................
............................
............................ */

.dark3-text {
  color: var(--dark3-color);
  font-weight: 500;
}

.section-head {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark1-color);
  margin-bottom: 24px;
}

.section-description {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
}

.header {
  display: flex;
  justify-content: center;
}

/* nav style */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 20px 0px;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark1-color);
}

.menus {
  display: flex;
  gap: 75px;
}

.menu a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark2-color);
  transition: all 0.5s ease-in;
}

.menu:hover a {
  color: var(--white-color);
  background-color: var(--tertiary-color);
  transform: scale(1.1);
}

.side-bar {
  display: none;
}

.side-bar a {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark1-color);
}

.banner {
  padding-top: 120px;
}

.banner-content {
  text-align: center;
  width: 60%;
  margin: auto;
}

.banner-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: var(--dark1-color);
}

.banner-description {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
  margin: 20px 0px 30px 0px;
}

.banner-image {
  margin-top: 50px;
}

.banner-image img {
  width: 100%;
  height: 100%;
}

/* header end */
/* ...................................... */
/* main start */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-us-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }
  

.about-us-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding: 85px 0px 130px 0px;
}


.about-us-images {
  width: 100%;
  height: 100%;
}

.about-us-images img {
  width: 100%;
  height: 100%;
}

.about-us-content {
  width: 100%;
}

.about-us-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--primary-color);
}

.about-us-description {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
  margin: 24px 0px 32px 0px;
}

/* about us area style end */
/* ............................................... */
/* feature area style */

.feature-area {
  display: flex;
  gap: 54px;
  align-items: center;
  padding-bottom: 130px;
}

.feature-content-head {
  margin-bottom: 30px;
}

.feature-content {
  width: 100%;
}


.feature-description {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
}
.feature-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark1-color);
    margin-bottom: 24px;
    border-left: 5px solid var(--primary-color);
    padding-left: 20px;
  }
  
.single-feature {
  padding: 30px 42px 30px 30px;
  background-color: var(--white-color);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}

.feature-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--dark1-color);
  margin-bottom: 10px;
}

.feature-dis {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
}

.feature-image {
  position: relative;
  width: 100%;
}
.feature-image img {
    width: 100%;
    height: 100%;
  }

.feature-image .images {
  padding-left: 92px;
}



.feature-image .feature-image-title {
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: 45px 42px;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: -77px;
}

.feature-image .experience-title {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  color: var(--white-color);
}

.feature-image .experience-description {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: var(--white-color);
}

/* feature area end */
/* ............................................... */
/* fun facts area */

.acheivment-facts-content {
  padding-bottom: 130px;
}

.acheivment-facts-head {
  margin-bottom: 100px;
}
.acheivment-facts-description {
    font-size: 16px;
    line-height: 26px;
    color: var(--dark3-color);
  }

.acheivment-facts-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark1-color);
  margin-bottom: 24px;
}



.acheivment-facts {
  display: flex;
  justify-content: space-around;
}

.single-acheivment-fact {
  padding: 45px 45px 60px 45px;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--dark3-color);
  display: inline-block;
  text-align: center;
  transition: all 0.4s ease;
}

.single-acheivment-fact:hover {
  transform: rotate(360deg);
  border: 0px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  color: var(--white-color);
  box-shadow: 1px 1px 40px var(--tertiary-color);
}

.single-acheivment-fact .acheivment-count {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  color: var(--dark2-color);
  margin: 10px 0px 0px 5px;
}

.single-acheivment-fact .acheivment-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}
/* ...............
sponsors area style
............................. */

.sponsors-area {
  margin-top: 100px;
  margin-bottom: 130px;
}

.sponsor-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor-logo img {
  width: 100%;
  height: 100%;
}

/*.........................
articles area style 
............................*/


.blogs {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.article {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.single-blog {
  background-color: var(--white-color);
  box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
  border-radius: 8px;
  overflow: hidden;
}

.blog-image img {
  width: 450px;
  height: 400px;
}

.blog-content {
  padding: 30px;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 40px;
}

.date {
  font-size: 18px;
  font-weight: 500;
  line-height: 38px;
  color: var(--dark3-color);
}

.blog-title a {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: var(--dark1-color);
  margin-bottom: 10px;
}

.blog-description {
  font-size: 16px;
  line-height: 26px;
  color: var(--dark3-color);
  margin: 15px 0px 25px 0px;
}

.blog-btn .primary-btn {
  color: var(--primary-color);
  background: transparent;
  padding: 0;
  border: 0;
}

.blog-btn .primary-btn i {
  margin-left: 8px;
}

/*..............................
footer area style
..............................*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px 0px 216px 0px;
}

.footer-description {
  font-size: 20px;
  line-height: 26px;
  color: var(--dark2-color);
  background-color: var(--primary-color);
  padding: 38px 0px;
  border-radius: 8px;
  text-align: center;
}

/* mobile device */
@media only screen and (max-width: 576px) {
  .header {
    padding: 0px 30px;
  }

  .nav {
    padding-top: 35px;
  }

  .nav-title {
    font-size: 32px;
    line-height: 45px;
  }

  .menus {
    display: none;
  }

  .side-bar {
    display: block;
  }

  .banner-content {
    width: 100%;
  }

  .banner-title {
    font-size: 32px;
    line-height: 44px;
  }

  .banner {
    padding: 30px 0px 20px 0px;
  }

  .main {
    padding: 0px 30px;
  }

  .about-us-area {
    flex-direction: column;
    gap: 35px;
    padding: 50px 0px 70px 0px;
  }

  .about-us-images {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-us-title {
    font-size: 36px;
    line-height: 48px;
  }

  .about-us-description {
    margin: 15px 0px 25px 0px;
  }

  .feature-area {
    padding-bottom: 70px;
    flex-direction: column;
  }

  .feature-title {
    font-size: 36px;
    line-height: 48px;
  }

  .feature-image .images {
    padding-left: 0px;
  }

  .feature-image .experience-title {
    font-size: 42px;
    line-height: 56px;
  }

  .feature-image .feature-image-title {
    bottom: 4px;
    border-radius: 0px 8px;
  }

  .acheivment-facts-head {
    margin-bottom: 50px;
  }

  .acheivment-facts-title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 15px;
  }

  .acheivment-facts {
    flex-direction: column;
    gap: 30px;
  }

  .acheivment-facts-content {
    padding-bottom: 70px;
  }

  .section-head {
    width: 100%;
  }

  .section-title {
    font-size: 36px;
    line-height: 48px;
  }

  .sponsor-logo {
    flex-direction: column;
    gap: 50px;
  }

  .sponsors-area {
    margin-bottom: 70px;
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .article {
    padding: 0px 30px;
  }

  .blog-title a {
    font-size: 22px;
    line-height: 28px;
  }

  footer {
    margin: 70px 30px;
  }

  .footer-description {
    padding: 38px 20px;
  }
}
